{% extends "base.html" %}
{% load static %}
{% block page_content %}
<header id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);" data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
    <nav id="primary-navigation" class="site-navigation">
        <div class="container">
            <div class="navbar-header page-scroll">

                <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a href="#hero" class="site-logo"><img src="{% static 'img/logo.png' %}" alt="logo"></a>

            </div><!-- /.navbar-header -->

            <div class="main-menu" id="portfolio-perfect-collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li class="page-scroll"><a href="#hero">Home</a></li>
                    <li class="page-scroll"><a href="#about">About</a></li>
                    <li class="page-scroll"><a href="#service">Service</a></li>
                    <li class="page-scroll"><a href="#portfolio">Portfolio</a></li>
                    <li class="page-scroll"><a href="#contact">Contact</a></li>
                    
                </ul><!-- /.navbar-nav -->

            </div><!-- /.navbar-collapse -->

        </div>
    </nav><!-- /.primary-navigation -->
</header><!-- /#header -->

<div id="hero" class="hero">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h1>Mukhpal Singh</h1>
                <div class="page-scroll">
                    <p class="job-title">Full Stack Developer</p>
                    <a href="#contact" class="btn btn-fill ">Hire me</a>
                    <div class="clearfix visible-xxs"></div>
                    <a href="#portfolio" class="btn btn-border">Explore more</a>
                </div>
            </div>
        
            <div class="col-md-6 text-right">
                <img src="{% static 'img/Mukhpal_PP.jpg' %}" alt="Mukhpal-cv">
            </div>

        </div>
    </div>
</div><!-- /.hero -->

<main id="main" class="site-main">

    <section id="about" class="site-section section-about text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>About</h2>
                    <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
                    <p>Hello! I'm Mukhpal, a full stuck developer, a Ruby enthusiast, and a guy slighty obsessed for code quality. I’m currently available for freelance work. If you have a project that you want to get started or think you need my help with something, then get in touch.</p>
                    <a href="{% static 'docs/MukhpalSingh.pdf' %}" class="btn btn-fill" target="_blank" download>Download my cv</a>
                </div>
            </div>
        </div>
    </section><!-- /.secton-about -->

    <section class="site-section section-skills">
        <div class="container">
            <div class="text-center">
                <h3>My Skills</h3>
                <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="skill">
                        <h4>PHP</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="100"></div><!-- /.progress-bar -->
                        </div><!-- /.progress -->
                    </div><!-- /.skill -->
                    <div class="skill">
                        <h4>Mysql/PostgreSQL</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="75"></div><!-- /.progress-bar -->
                        </div><!-- /.progress -->
                    </div><!-- /.skill -->
                </div>
                <div class="col-md-4">
                    <div class="skill">
                        <h4>Python</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="82"></div><!-- /.progress-bar -->
                        </div><!-- /.progress -->
                    </div><!-- /.skill -->
                    <div class="skill">
                        <h4>HTML/CSS</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="66"></div><!-- /.progress-bar -->
                        </div><!-- /.progress -->
                    </div><!-- /.skill -->
                </div>
                <div class="col-md-4">
                    <div class="skill">
                        <h4>Ruby</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="97"></div><!-- /.progress-bar -->
                        </div><!-- /.progress -->
                    </div><!-- /.skill -->
                    <div class="skill">
                        <h4>javascript</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="45"></div><!-- /.progress-bar -->
                        </div><!-- /.progress -->
                    </div><!-- /.skill -->
                </div>
            </div>
        </div>
    </section><!-- /.secton-skills -->

    <section id="service" class="site-section section-services overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>What i do</h3>
                    <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
                </div>
                <div class="col-sm-4">
                    <div class="service">
                        <img src="{% static 'img/back-end.svg' %}" alt="Back End Developer">
                        <h4>Back-end</h4>
                        <p>Utilising PHP/Python/Ruby frameworks such as Laravel / CI / Symfony / Django / Rails or creating bespoke code, I've written services supporting thousands of users, including REST APIs, e-learning applications and more.</p>
                    </div><!-- /.service -->
                </div>
                <div class="col-sm-4">
                    <div class="service">
                        <img src="{% static 'img/front-end.svg' %}" alt="Front End Developer">
                        <h4>Front-end</h4>
                        <p>As a javascript developer, I have experience in HTML5 and CSS3 techniques working with jQuery or more advanced javascript MVC frameworks such as angular</p>
                    </div><!-- /.service -->
                </div>
                <div class="col-sm-4">
                    <div class="service">
                        <img src="{% static 'img/consultancy.svg' %}" alt="Coding">
                        <h4>Consultancy</h4>
                        <p>As well as providing development services, I can also help you decide strategic roadmaps via consultancy services.</p>
                    </div><!-- /.service -->
                </div>
            </div>
        </div>
    </section><!-- /.secton-services -->

    <section id="portfolio" class="site-section section-portfolio">
        <div class="container">
            <div class="text-center">
                <h3>My recent Works</h3>
                <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        <img src="{% static 'img/ocf.png' %}" class="img-res" alt="">
                        <div class="portfolio-item-info">
                            <h4>Office Campfire</h4>
                            <a href="#" data-toggle="modal" data-target="#portfolioItem1"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a target="_blank" href="https://officecampfire.com/"><span class="glyphicon glyphicon-link"></span></a>
                        </div><!-- /.portfolio-item-info -->
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        <img src="{% static 'img/esports.png' %}" class="img-res" alt="">
                        <div class="portfolio-item-info">
                            <h4>Esports / Bast.gg</h4>
                            <a href="#" data-toggle="modal" data-target="#portfolioItem2"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a target="_blank" href="https://bast.gg"><span class="glyphicon glyphicon-link"></span></a>
                        </div><!-- /.portfolio-item-info -->
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        <img src="{% static 'img/fian.png' %}" class="img-res" alt="">
                        <div class="portfolio-item-info">
                            <h4>Fian Group</h4>
                            <a href="#" data-toggle="modal" data-target="#portfolioItem3"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a target="_blank" href="https://www.fiangroup.com"><span class="glyphicon glyphicon-link"></span></a>
                        </div><!-- /.portfolio-item-info -->
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        <img src="{% static 'img/listfix.png' %}" class="img-res" alt="">
                        <div class="portfolio-item-info">
                            <h4>Listfixx</h4>
                            <a href="#" data-toggle="modal" data-target="#portfolioItem4"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a target="_blank" href="https://www.listfixx.com/"><span class="glyphicon glyphicon-link"></span></a>
                        </div><!-- /.portfolio-item-info -->
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        <img src="{% static 'img/youphenom.png' %}" class="img-res" alt="">
                        <div class="portfolio-item-info">
                            <h4>Youphenom</h4>
                            <a href="#" data-toggle="modal" data-target="#portfolioItem5"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a target="_blank" href="https://youphenom.com/"><span class="glyphicon glyphicon-link"></span></a>
                        </div><!-- /.portfolio-item-info -->
                    </div><!-- /.portfolio-item -->
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="portfolio-item">
                        <img src="{% static 'img/hustlink.png' %}" class="img-res" alt="">
                        <div class="portfolio-item-info">
                            <h4>Hustle Ink</h4>
                            <a href="#" data-toggle="modal" data-target="#portfolioItem6"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a target="_blank" href="https://server2.chicmic.in/HustleInk_PHP"><span class="glyphicon glyphicon-link"></span></a>
                        </div><!-- /.portfolio-item-info -->
                    </div><!-- /.portfolio-item -->
                </div>
            </div>
        </div>
    </section><!-- /.secton-portfolio -->

    <section class="site-section section-counters text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <p class="counter start" data-to="9" data-speed="2000">0</p>
                    <h4>Years Experience</h4>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p class="counter start" data-to="50" data-speed="2000">0</p>       
                    <h4>Projects Delivered</h4>      
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p id="infinity" class="counter" data-from="0" data-to="1" data-speed="1000">0</p>
                    <h4>Seconds on this site!<br>What are you waiting for?</h4>
                </div>
            </div>
        </div>
    </section><!-- /.section-counters -->

    <section id="contact" class="site-section section-info text-center">
      <div class="container">
  
          <h3>Contact Information</h3>
          <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
  
          <div class="info-box">
              <p class="contact-detail"><strong>Email:</strong> <a href="mailto:mps813@gmail.com">mps813@gmail.com</a></p>
              <p class="contact-detail"><strong>Phone:</strong> +91 9999060011</p>
              <p class="contact-detail"><strong>Profile Links:</strong></p>
              <ul class="profile-links">
                  <li><a href="https://github.com/mukhpal/" target="_blank">GitHub</a></li>
                  <li><a href="https://www.linkedin.com/in/mukhpal-singh/" target="_blank">LinkedIn</a></li>
                  <li><a href="https://www.upwork.com/freelancers/mukhpal" target="_blank">Upwork</a></li>
              </ul>
          </div>
      </div>
  </section><!-- /.section-info -->
  
  <style>
      .section-info {
          background-color: #f8f8f8;
          padding: 50px 0;
      }
  
      .info-box {
          background-color: #fff;
          border-radius: 10px;
          padding: 20px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          margin-top: 20px;
      }
  
      .contact-detail {
          font-size: 16px;
          margin-bottom: 10px;
      }
  
      .profile-links {
          list-style: none;
          padding: 0;
          margin: 0;
      }
  
      .profile-links li {
          display: inline-block;
          margin-right: 15px;
      }
  
      .profile-links a {
          text-decoration: none;
          color: #3498db;
          font-weight: bold;
          transition: color 0.3s ease-in-out;
      }
  
      .profile-links a:hover {
          color: #1abc9c;
      }
  
      .img-lines {
          width: 50px; /* Adjust the size as needed */
          margin: 20px 0;
      }
  </style>
  

</main><!-- /#main -->

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Expert in the whole process of PHP full-stack development of large-scale high-loaded Web applications. An 9+ years experienced full stack developer. Worked on multiple simple to complex level projects in different technologies. Always follow an agile methodology and test-driven approach. Keeping transparency during the project for the stakeholder is my priority.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Programing</h6>
          <ul class="footer-links">
            <li>PHP</li>
            <li>Python</li>
            <li>Ruby</li>
            <li>HTML/CSS</li>
            <li>Mysql / PostgreSQL</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Frameworks</h6>
          <ul class="footer-links">
            <li>Laravel</li>
            <li>Codeigniter</li>
            <li>Symfony</li>
            <li>Django</li>
            <li>Rails</li>
            <li>Flask</li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text"> <i class="fa fa-phone" aria-hidden="true"></i> +91 99990-60011</p>
          <p class="copyright-text"> <i class="fa fa-envelope" aria-hidden="true"></i> mps813@gmail.com</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a target="_blank" class="skype" href="skype:live:.cid.e901b536556e5a4?chat"><i class="fa fa-skype"></i></a></li>
            <!-- <li><a class="skype" href="#"><i class="fa fa-phone"></i></a></li> -->
            <li><a target="_blank" class="github" href="https://github.com/mukhpal"><i class="fa fa-github"></i></a></li>
            <li><a target="_blank" class="linkedin" href="https://www.linkedin.com/in/mukhpal-singh/"><i class="fa fa-linkedin"></i></a></li>
            <li><a target="_blank" class="email" href="mailto:mps813@gmail.com"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>

<!-- Modals -->
<div id="portfolioItem1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <img class="img-res" src="{% static 'img/ocf.png' %}" alt="">
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Office Campfire</h4>
        <p>
            A real-time gaming platform. This engaging platform unites players from various time zones and countries, fostering connections through enjoyable interactions. With a variety of games tailored for individual and team participation, users can communicate via text, video, or audio during events or within their teams. Among the games featured are:

            Two unique variations of the "Fun Fact" game with a time quiz element.
            A team-based "Farming" game focused on profit and loss.
            "Crime Investigations" offering a range of game scenarios and storylines
        </p>
      </div>
      <div class="modal-footer">
        <a target="_blank" href="https://officecampfire.com" class="btn btn-fill">Go to Website</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="portfolioItem2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <img class="img-res" src="{% static 'img/esports.png' %}" alt="">
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Esports / Bast.gg</h4>
        <p>
          Technology Stack: Our platform is built using PHP, Laravel, MySQL, Stripe for payments, Notifications for alerts, WebSocket, Redis, Red5pro, JavaScript/jQuery, HTML, and CSS.
          Our platform serves as a hub for fans to engage with their favorite celebrities across various social media platforms. Users can easily book a slot after confirming the date and time that works for them. Additionally, fans have access to a wealth of information, including a list of celebrities, their profiles, recent gaming activities, and availability details, making it simple for them to connect and enjoy interactive experiences with their idols.
        </p>
      </div>
      <div class="modal-footer">
        <a target="_blank" href="http://www.bast.gg" class="btn btn-fill">Go to Website</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="portfolioItem3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <img class="img-res" src="{% static 'img/fian.png' %}" alt="">
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Fian Group</h4>
        <p>
          A meticulously crafted, fully dynamic project has been realized through the proficient utilization of PHP/Laravel, with the entire design and end-to-end web development executed under my purview. The dynamic functionality of the pages is achieved through seamless integration with a PostgreSQL database, ensuring robust and efficient data management. Moreover, the project boasts a harmonious fusion of HTML and CSS, seamlessly integrated with Laravel Blades, elevating the user interface to deliver a polished and engaging web experience. This comprehensive approach underscores not only the technical proficiency but also the commitment to delivering a sophisticated and user-friendly web solution
        </p>
      </div>
      <div class="modal-footer">
        <a target="_blank" href="https://www.fiangroup.com/" class="btn btn-fill">Go to Website</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="portfolioItem4" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <img class="img-res" src="{% static 'img/listfix.png' %}" alt="">
      </div>
      <div class="modal-body">
        <h4 class="modal-title">ListFixx</h4>
        <p>
          The RecipeShare app is your gateway to a world of culinary delights. With this app, you have the freedom to create and share your own delicious recipes or simply explore an endless array of mouthwatering dishes shared by others. Here's what you can do:

          1. **Create and Share**: Share your culinary creations with the world. Craft your own recipes and inspire fellow food enthusiasts.
          
          2. **Discover**: Explore a diverse collection of recipes from a global community. From appetizers to desserts, the possibilities are endless.
          
          3. **Connect**: Follow your favorite cooks, unfollow if you wish, and stay updated with their latest culinary masterpieces.
          
          4. **Customization**: Tailor your recipes to your liking. Add or modify ingredients, so you can enjoy the meal just the way you prefer.
          
          5. **Save for Later**: Love a recipe? Save it for future reference. Building your own digital cookbook has never been easier.
          
          6. **Many More Features**: The RecipeShare app is packed with features to make your dinner preparation a breeze. From easy-to-follow cooking instructions to handy tips and tricks, this app has it all.
          
          Whether you're a seasoned chef or just starting your culinary journey, RecipeShare is your go-to app for all things food. Enjoy cooking and exploring a world of flavors right at your fingertips
        </p>
      </div>
      <div class="modal-footer">
        <a target="_blank" href="https://www.listfixx.com/" class="btn btn-fill">Go to Website</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="portfolioItem5" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <img class="img-res" src="{% static 'img/youphenom.png' %}" alt="">
      </div>
      <div class="modal-body">
        <h4 class="modal-title">SelectLeague / Youphenom</h4>
        <p>
          The Leagues project is a comprehensive platform designed to efficiently manage and execute virtual monthly leagues encompassing a diverse array of teams. To ensure the integrity of the competition, stringent sign-up conditions are in place, utilizing IP address and device parameters to prevent the creation of multiple accounts from a single location.

Empowering users with the ability to create one free team, the platform facilitates promotion to a wider audience. For those desiring additional teams, a straightforward payment mechanism, seamlessly integrated with payment gateways like PayPal, has been implemented.

Team promotion is further amplified through a unique voting system. Users can solicit votes from other members, with each member entitled to one free vote daily. The option to purchase more votes through various plans enhances the promotional potential, allowing users to make a meaningful impact on their team's visibility.

A daily cron job serves as the backbone of the project, diligently calculating results and updating the league scoreboards. This process spans 28 days, leading up to the final four days of the month. During this crucial period, final, semi-final, and quarter-final matches unfold based on the accumulated scores of teams throughout the month's matches, culminating in an exciting and competitive climax. The comprehensive integration of payment gateways, voting systems, and meticulous result calculations ensures a seamless and engaging experience for participants in this dynamic virtual league environment.

A dedicated administrative panel serves as a centralized hub for efficiently overseeing and managing various facets of the website. This comprehensive tool is designed to handle not only the content of the platform but also to meticulously track and monitor key activities such as leagues, payments, and subscription plans.

Within this specialized admin panel, administrators can seamlessly navigate through the website's content, ensuring its relevance and adherence to established standards. The tracking of leagues is streamlined, providing real-time insights into ongoing competitions, participant engagement, and overall league performance. Payments and subscription plans are diligently monitored, guaranteeing financial transactions are secure and align with the platform's offerings.

The robust capabilities of the admin panel extend beyond mere oversight, offering administrators the tools needed to make informed decisions, swiftly address issues, and maintain the optimal functioning of the application. With a user-friendly interface and a suite of features tailored for efficient management, the admin panel is an indispensable resource for maintaining the integrity and success of the entire platform.
        </p>
      </div>
      <div class="modal-footer">
        <a target="_blank" href="https://youphenom.com/" class="btn btn-fill">Visit Page</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="portfolioItem6" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <img class="img-res" src="{% static 'img/hustlink.png' %}" alt="">
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Hustle Ink</h4>
        <p>This platform serves as a dynamic meeting ground for both talented tattoo artists and discerning customers seeking personalized tattoo experiences. Artists, upon registration, have the flexibility to curate and personalize their profiles with compelling portfolios and samples of their work. Additionally, they can establish transparent pricing structures, providing potential customers with clear insights into the costs associated with their services. The seamless integration of payment features facilitates secure transactions whenever a user books an appointment with their chosen artist.

          For customers, the platform offers a user-friendly experience. They can register, explore an extensive array of designs and samples contributed by diverse artists, and delve into the history of each artist. Ratings and reviews further empower customers to make well-informed decisions when selecting an artist. This insightful feature allows users to gauge the quality of the artist's work and professionalism, ensuring a personalized and satisfying experience.
          
          Ensuring the smooth operation of this thriving ecosystem is a dedicated admin panel. This administrative hub provides the necessary tools to manage and monitor all activities and processes transpiring within the platform. From overseeing artist interactions to facilitating secure transactions and maintaining the overall integrity of the system, the admin panel plays a pivotal role in ensuring a seamless and enjoyable experience for both artists and customers alike.</p>
      </div>
      <div class="modal-footer">
        <a target="_blank" href="https://server2.chicmic.in/HustleInk_PHP" class="btn btn-fill">Visit Page</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock page_content %}